.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    background-color: var(--green);
    text-shadow: 2px 2px 0 var(--orange);
    padding: 1rem;
    font-family: 'Space Mono', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-accompany-text {
    color: var(--orange);
    font-family: 'Space Mono', sans-serif;
    font-weight: 600;
    margin-left: 6px;
    transform: translateY(18px);
    font-size: 19px;
}

@media (max-width: 599px) {
    .logo-accompany-text {
        transform: translateY(-7px);
        font-size: 18px;
        max-width: 80px;
    }
}

/* Default state */
.headerButton.MuiButton-root {
    color: inherit;
    background-color: transparent;
    font-weight: 600;
}

/* Hover state */
.headerButton.MuiButton-root:hover {
    background-color: transparent;
    color: var(--orange); /* Change text color to orange */
}

/* Active state */
.activeButton.headerButton.MuiButton-root {
    text-decoration: underline var(--orange) 2px;
    text-underline-offset: 3px;
}
